/* Add your styles here */
body {
  background: steelBlue;
}

h1 {
  text-align: center;
  color: #fff;
}

#index-user, #indexed-users {
  background: #ccc;
  padding: 1%;
}

.section {
  margin-bottom: 1%;
}