/* Add your styles here */
body {
  background: steelBlue;
}

h1 {
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px #000;
}

#index-user, #indexed-users {
  background: #ccc;
  padding: 1%;
}

.section {
  margin-bottom: 1%;
  border-radius: 6px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
}