/* Add your styles here */
body {
  background: steelBlue;
}

h1 {
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px #000;
}

.section {
  margin-bottom: 1%;
  border-radius: 6px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
  background: #ccc;
  padding: 1%;
}

.section.errors {
  background: #cc0000;
  color: white;
}

.errors ul {
  margin-bottom: 0;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}